{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'style/style.css' %}">
	<title>Registration Form</title>
</head>
<body>

	<!-- Container Start -->
	<div id="container">
		<!--Form Wrap Start-->
		<div class="form-wrap">
			<h1>Sign Up</h1>
			<p>it's free and takes just a minute</p>
			<!-- Form Start -->
			<form>
				<div class="form-group">
					<label for="first-name">First Name:</label>
					<input type="text" name="firstname" id="first-name">
				</div>

				<div class="form-group">
					<label for="last-name">Last Name:</label>
					<input type="text" name="lasttname" id="last-name">
				</div>

				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" name="email" id="email">
				</div>

				<div class="form-group">
					<label for="password">Password: </label>
					<input type="password" name="password" id="password">
				</div>

				<div class="form-group">
					<label for="cpassword">Confirm the Password: </label>
					<input type="password" name="cpassword" id="cpassword">
				</div>

				<button type="submit"> Sign Up</button>
				<p class="button-text">By clicking the sign up Button you agree to our <a href="#">Term & Condition</a> and <a href="#">Privacy Policy</a> </p>

			</form>
			<!-- Form Close -->
		</div>
		<!--Form Wrap Close-->
		<footer>
			<p>Already have an account? <a href="#">Login here</a></p>
		</footer>
	</div>
	<!-- Container Close -->

</body>
</html>